<h1>Show Make</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @make.name %>
  </li>

  <li>
    <strong>Slug:</strong>
    <%= @make.slug %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.make_path(@conn, :edit, @make) %></span>
<span><%= link "Back", to: Routes.make_path(@conn, :index) %></span>
